<h2>Citations</h2>

Generate BibTex-code from all citations or choose specific citations.
<p>
<form method="POST" action="/generate-bibtex">

    <button type="button" onclick="toggleCheckboxes(true)">Select All</button>
    <button type="button" onclick="toggleCheckboxes(false)">Clear</button>
    <button type="submit" id="Generate">Generate</button>


    {% for citation in listed_citations %}
    <h4 class="title" onclick="toggleDetails('details_{{ loop.index }}', 'arrow_{{ loop.index }}')">
        <span id="arrow_{{ loop.index }}">&#x25B6;</span>
        <label for="citation_{{ loop.index }}">{{ citation.get_authors_for_listing() }}: {{ citation.get_title() }}, {{
            citation.get_year() }}</label>
        <input type="checkbox" id="citation_{{ loop.index }}" name="citations" value="{{ citation.id }}"
            onclick="event.stopPropagation();">
    </h4>
    <div id="details_{{ loop.index }}" class="details" style="display: none;">
        {% for data_line in citation.get_datalines() %}
        <p><strong>{{ data_line[0] }}:</strong> {{ data_line[1] }}</p>
        {% endfor %}
    </div>
    {% endfor %}
</form>

<script>
    function toggleDetails(detailsId, arrowId) {
        var details = document.getElementById(detailsId);
        var arrow = document.getElementById(arrowId);
        if (details.style.display === "none") {
            details.style.display = "block";
            arrow.innerHTML = "&#x25BC;";
        } else {
            details.style.display = "none";
            arrow.innerHTML = "&#x25B6;";
        }
    }

    function toggleCheckboxes(checked) {
        var checkboxes = document.querySelectorAll('input[name="citations"]');
        checkboxes.forEach(function (checkbox) {
            checkbox.checked = checked;
        });
    }

</script>