<div class="sticky">
    <div class="button_and_form">
        <button type="button" class="collapsible">Add a reference</button>
        <div class="input_form" style="display: none;">
            <form action="/add_citation" method="post">
                <label for="type">Type:</label><br>
                <select id="type" name="type" required>
                    <option value="book">Book</option>
                    <option value="article">Article</option>
                    <option value="other">Other</option>
                </select><br><br>

                <label for="title">Title:</label><br>
                <input type="text" id="title" name="title" required><br><br>

                <label for="key">Key:</label><br>
                <input type="text" id="key" name="key" required><br><br>

                <label for="authors">Authors:</label><br>
                <input type="text" id="authors" name="authors" required><br><br>

                <label for="year">Year:</label><br>
                <input type="number" id="year" name="year"><br><br>


                <label for="doi">DOI:</label><br>
                <input type="text" id="doi" name="doi"><br><br>

                <label for="pages">Pages:</label><br>
                <input type="text" id="pages" name="pages"><br><br>

                <label for="volume">Volume:</label><br>
                <input type="text" id="volume" name="volume"><br><br>

                <label for="publisher">Publisher:</label><br>
                <input type="text" id="publisher" name="publisher"><br><br>

                <label for="tags">Tags:</label><br>
                <input type="text" id="tags" name="tags"><br><br>

                <label for="citation_url">Citation URL:</label><br>
                <input type="text" id="citation_url" name="citation_url"><br><br>

                <button type="submit" id="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

<!-- SCRIPT -->

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display == "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>