{% extends "layout.html" %}

{% block title %}
Reference app
{% endblock %}

{% block body %}

{% if errors %}
{% for error_message in errors.values() %}
<li>{{ error_message }}</li>
{% endfor %}
</ul>
{% endif %}

{% include 'nav_bar.html' %}

<br>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="flash {{ category }}">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}
<br>
{% include 'citations.html' %}

{% endblock %}