<script type="text/javascript" src="../static/form.js"></script>
<div class="sticky">
    <div class="sticky_button">
        <!-- Add a reference -->
        <button type="button" class="collapsible" id="reference" onclick="showForm()">Add a reference</button>

        <button id="exitEditMode" onclick="exit_editing_mode()">Exit editing mode</button>

        <!-- Search bar -->
        <div class="search">
            <form action="/" method="POST">
                <input type="text" placeholder="Search..", name="query">
                <input type="submit", value="Search" />
            </form>
        </div>
    </div>
</div>
{% include 'form.html' %}