<form action="/add_citation" method="post">
    <input type="hidden" name="type" value="article">
    <div id="articleFields" style="display: none;">

        <label for="title">Title: *</label><br>
        <input type="text" id="title_article" name="title" required><br><br>

        <label for="key">Key: *</label><br>
        <input type="text" id="key_article" name="key" required><br><br>

        <label for="authors">Authors: *</label><br>
        <input type="text" id="authors_article" name="authors" required
               pattern="([^ ]+ [^ ]+ [^ ]*, )*([^ ]+ [^ ]+)"
               title="Input authors in FirstName LastName, ... format"><br><br>

        <label for="year">Year: *</label><br>
        <input type="number" id="year_article" name="year" required><br><br>

        <label for="journal">Journal: *</label><br>
        <input type="text" id="journal_article" name="journal" required><br><br>

        <label for="volume">Volume:</label><br>
        <input type="text" id="volume_article" name="volume"><br><br>

        <label for="pages">Pages:</label><br>
        <input type="text" id="pages_article" name="pages"><br><br>

        <label for="month">Month:</label><br>
        <input type="text" id="month_article" name="month"><br><br>

        <label for="doi">DOI:</label><br>
        <input type="text" id="doi_article" name="doi"><br><br>

        <label for="note">Note:</label><br>
        <input type="note" id="note_article" name="note"><br><br>

        <label for="tags">Tags:</label><br>
        <input type="text" id="tags_article" name="tags"><br><br>

        <label for="citation_url">Citation URL:</label><br>
        <input type="text" id="citation_url_article" name="citation_url"><br><br>
        <button type="submit" id="submit_article">Submit</button>
    </div>
</form>