<form action="/add_citation" method="post">
    <input type="hidden" name="type" value="book">
    <div id="bookFields" style="display: none;">

        <label for="title">Title: *</label><br>
        <input type="text" id="title_book" name="title" required><br><br>

        <label for="key">Key: *</label><br>
        <input type="text" id="key_book" name="key" required><br><br>

        <label for="authors">Authors: *</label><br>
        <input type="text" id="authors_book" name="authors" required
               pattern="([^ ]+ [^ ]+, )*([^ ]+ [^ ]+)"
               title="Input authors in FirstName LastName, ... format"><br><br>

        <label for="publisher">Publisher: *</label><br>
        <input type="text" id="publisher_book" name="publisher" required><br><br>

        <label for="year">Year: *</label><br>
        <input type="number" id="year_book" name="year" required><br><br>

        <label for="volume">Volume/number:</label><br>
        <input type="text" id="volume_book" name="volume"><br><br>

        <label for="pages">Pages:</label><br>
        <input type="text" id="pages_book" name="pages"><br><br>

        <label for="series">Series:</label><br>
        <input type="text" id="series_book" name="series"><br><br>

        <label for="address">Address:</label><br>
        <input type="text" id="address_book" name="address"><br><br>

        <label for="edition">Edition:</label><br>
        <input type="text" id="edition_book" name="edition"><br><br>

        <label for="month">Month:</label><br>
        <input type="text" id="month_book" name="month"><br><br>

        <label for="note">Note:</label><br>
        <input type="text" id="note_book" name="note"><br><br>

        <label for="tags">Tags:</label><br>
        <input type="text" id="tags_book" name="tags"><br><br>

        <label for="citation_url">URL:</label><br>
        <input type="text" id="citation_url_book" name="citation_url"><br><br>
        <button type="submit" id="submit_book">Submit</button>
    </div>
</form>