<form action="/add_citation" method="post" autocomplete="off">
    <input type="hidden" name="type" value="doi">
    <div id="doiFields" style="display: none;">

        <label for="key">Key: *</label><br>
        <input type="text" id="key_doi" name="key" required><br><br>

        <label for="key">Doi: *</label><br>
        <input type="text" id="doi_doi" name="doi" required><br><br>

        <label for="key">Tags: </label><br>
        <input type="text" id="tags_doi" name="tags" ><br><br>


        <button type="submit" id="submit_doi">Submit</button>
    </div>
</form>