<form action="/add_citation" method="post">
    <input type="hidden" name="type" value="misc">
    <div id="miscFields" style="display: none;">

        <label for="title">Title:</label><br>
        <input type="text" id="title_misc" name="title"><br><br>

        <label for="key">Key:</label><br>
        <input type="text" id="key_misc" name="key"><br><br>

        <label for="authors">Authors:</label><br>
        <input type="text" id="authors_misc" name="authors"><br><br>

        <label for="howpublished">How published:</label><br>
        <input type="text" id="howpublished_misc" name="howpublished"><br><br>

        <label for="month">Month:</label><br>
        <input type="text" id="month_misc" name="month"><br><br>

        <label for="year">Year:</label><br>
        <input type="number" id="year_misc" name="year"><br><br>

        <label for="note">Note:</label><br>
        <input type="text" id="note_misc" name="note"><br><br>

        <label for="tags">Tags:</label><br>
        <input type="text" id="tags_misc" name="tags"><br><br>

        <label for="citation_url">URL:</label><br>
        <input type="text" id="citation_url_misc" name="citation_url"><br><br>
        <button type="submit" id="submit_misc">Submit</button>
    </div>
</form>