<div id="miscFields" style="display: none;">
    <form action="/add_citation" method="post">
        <input type="hidden" name="type" value="misc">

        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br><br>

        <label for="key">Key:</label><br>
        <input type="text" id="key" name="key"><br><br>

        <label for="authors">Authors:</label><br>
        <input type="text" id="authors" name="authors"><br><br>

        <label for="howpublished">How published:</label><br>
        <input type="text" id="howpublished" name="howpublished"><br><br>

        <label for="month">Month:</label><br>
        <input type="text" id="month" name="month"><br><br>

        <label for="year">Year:</label><br>
        <input type="number" id="year" name="year"><br><br>

        <label for="note">Note:</label><br>
        <input type="text" id="note" name="note"><br><br>

        <label for="tags">Tags:</label><br>
        <input type="text" id="tags" name="tags"><br><br>

        <label for="citation_url">URL:</label><br>
        <input type="text" id="citation_url" name="citation_url"><br><br>
        <button type="submit">Submit</button>
    </form>
</div>