body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    font-size: 13px;
    padding: 20px;
}

header {
    background-color: transparent;
    width: 100%;
    text-align: center;
    padding: 20px;
}

.content {
    background-color: #f7f7f7;
    border-radius: 20px;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 700px;
    width: 100%;
    margin: auto;
}

h1 {
    font-family: 'Source Code Pro', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;

}

h2 {
    font-family: 'Source Code Pro', monospace;

}

.blackletter {
    display: inline-block;
    color: #1d1d1d;
    margin: 3px;
    font-size: 30px;
    padding: 0;
    text-shadow: 0px 0px 1.5px #373737;


}

.letter {
    display: inline-block;
    margin: 3px;
    padding: 0;

}

.letter:nth-child(1) {
    color: #FF6F61;
    text-shadow: 0px 0px 2px #FF6F61;
}

.letter:nth-child(2) {
    color: #FFB84D;
    text-shadow: 0px 0px 2px #FFB84D;
}

.letter:nth-child(3) {
    color: #F7D84A;
    text-shadow: 0px 0px 2px #F7D84A;
}

.letter:nth-child(4) {
    color: #6BCB77;
    text-shadow: 0px 0px 2px #6BCB77;
}

.letter:nth-child(5) {
    color: #4C9FFF;
    text-shadow: 0px 0px 2px #4C9FFF;
}

.letter:nth-child(6) {
    color: #5A4D98;
    text-shadow: 0px 0px 2px #5A4D98;
}

.letter:nth-child(7) {
    color: #9B5B9A;
    text-shadow: 0px 0px 2px #9B5B9A;
}

.letter:nth-child(8) {
    color: #FF6F61;
    text-shadow: 0px 0px 2px #FF6F61;
}

.letter:nth-child(9) {
    color: #FFB84D;
    text-shadow: 0px 0px 2px #FFB84D;
}

.letter:nth-child(10) {
    color: #F7D84A;
    text-shadow: 0px 0px 2px #F7D84A;
}

.letter:nth-child(11) {
    color: #6BCB77;
    text-shadow: 0px 0px 2px #6BCB77;
}

.letter:nth-child(12) {
    color: #4C9FFF;
    text-shadow: 0px 0px 2px #4C9FFF;
}

.letter:nth-child(13) {
    color: #5A4D98;
    text-shadow: 0px 0px 2px #5A4D98;
}

div.sticky {
    position: sticky;
    top: 0px;
    padding-top: 10px;
    background-color: #f7f7f7;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}

div.button_and_form {
    background-color: #e8e8e8;
    padding: 15px;
    border-radius: 13px;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
}

div.input_form {
    margin-top: 15px;
    width: auto;
    padding: 15px;
    background-color: #efefef;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
}